{% extends 'base.html' %}

{% block title %}Event Details | EVENT NAME{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{ event_name }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-4">
      <img src={{ image_url }}>

      <p>
        <a href={{ url }} target="_blank">Go to Ticketmaster page</a>
      </p>
    </div>

    <div class="col">
      <h3>Start date</h3>
      <p>{{ start_date }}</p>

      <h3>Venues</h3>
      <ul>
        <li>{{ venue }}</li>
      </ul>

      <h3>Classifications</h3>
      <ul>
        <li>{{ classification }}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
