<!doctype html>
<html>
  <head>
    <title>I want to play a game...</title>
  </head>

  <body>

    <p>Fill out the following</p>

    <form action="/madlib" person=person, noun=noun, adjective=adjective, color=color>
        <label for="person">Name a person</label>
        <input type="text" id="person" name="person"><br>
        <label for="noun">Provide a noun</label>
        <input type="text" id="noun" name="noun"><br>
        <label for="adjective">Enter an adjective</label>
        <input type="text" id="adjective" name="adjective"><br>

        <label for="color">Pick a color</label>
        <select id="color" name="color">
            <option value="silver">Silver</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="gold">Gold</option>
            <option value="black">Black</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>        
        </select>

        <input type="submit" value="Let the games begin!">
    </form>

  </body>
</html>
