#nav_bar {
    display: flex;
}

#logged_in {
    display: block;
    float: right;
    font-size: large;
    font-weight: bold;
    top: -50px;
    right: 50px;
    position: relative;
}

.flash-msg {
    color: red;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
