#nav_bar {
    display: flex;
}

#logged_in {
    display: block;
    float: right;
    font-size: large;
    font-weight: bold;
    top: -50px;
    right: 50px;
    position: relative;
}

.flash-msg {
    color: red;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#logo_image {
    display: flex;
    justify-content: center;
}

#logo_image > img {
    width: 750px;
    height: auto;
}

#account_input {
    display: inline-block;
}

#existing_rating {
    font-weight: bold;
    font-size: 18px;
}
